		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body {
}

/*.
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
  opacity: 100;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
*/

video {
	width: 70%;
}

.video2 {
	width: 100%;
}

img{
	height: 40%;
	position: absolute;
	bottom: 20%;
	margin-left: 1px;
}

p {
	color: black;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.5;
	display: inline;
/*.	display: inline;*/
}

.green {
	color: black;
	background-color: lightgreen;
/*.
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	*/
}

.red {
	color: black;
	background-color: orangered;
}

.blue {
	color: black;
	background-color: skyblue;
}

.yellow {
	color: black;
	background-color: #EDFF4D;
}

.pink {
	color: black;
	background-color: pink;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
	color: white;
}


@media screen and (max-width: 704px) {

}
