        *{
 margin : 0;
 padding : 0;
 box-sizing: border-box;
}

body {
    font-family: monospace;
    overflow-y: hidden;
}

h1 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    font-family: monospace;
}

li {
    font-size: 13px;
    margin-left: 30px;
}

marquee {
    font-size: 20px;
}

/*.
mark {
    background-color: transparent;
    text-decoration: underline dotted;
    text-decoration-color: tomato;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
*/

mark {
    background-color: orange;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a.active {
  background-color: white;
}

p {
    margin-bottom: 30px;
    line-height: 1.8;
    font-size: 15px;
    font-family: sans-serif;
}


.except {
    position: absolute;
}

.left {
    position: absolute;
    height: 500%;
    width: 400px;
    background-color: tomato;
    overflow-y: hidden;
}

.right {
    position: absolute;
    height: 500%;
    width: calc(100% - 400px);
    margin-left: 400px;
    overflow-y: scroll;
    background-color: white;
}

.content {
    display: absolute;
    height: 200%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  /*  overflow-y:auto;*/
}

.content:target {
    display: block;
}

.click:hover {
    background-color: whitesmoke;
}

@media screen and (max-width: 704px) {

.left {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: tomato;
    overflow-y: hidden;
}

.right {
    position: absolute;
    height: calc(100% - 200px);
    width: 100%;
    top: 200px;
    margin-left: 0px;
    overflow-y: scroll;
    background-color: orange;

    .content {
    display: none;
}

.content:target {
    display: block;
}


mark {
    background-color: #EDEDED;
}

}
